<div class="nested-fields">
  <div class="row align_items mb-3">
    <div class="mb-3 col-md-8">
      <%= f.input :name, include_blank: false, input_html: { class: "form-control form-control-lg"}, wrapper_html: {class: "position-relative form-group"} %>
    </div>
    <div class="mb-3 col-md-12">
      <%= f.input :file, include_blank: false, input_html: { class: "form-control form-control-lg"}, wrapper_html: {class: "position-relative form-group"} %>
    </div>
    <div class="col-md-2 col-12 mt-4 mb-3">
      <%= link_to_remove_association "Remover", f , class: "btn btn-warning"%>
    </div>
  </div>
  <hr>
</div> 