<div class="nested-fields">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-12">
          <%= f.input :file, input_html: { class: "form-control form-control-lg"}, hint_html: {class: "form-text"}, label_html: {class: "form-label"} %>
        </div>
        <div class="actions">
          <%= link_to_remove_association "remove item", f, class: 'btn btn-warning' %>
        </div>
      </div>
    </div>
  </div>
</div>